#titre {
    float: left;
    height: 150px;
    width: 1900px;
    background-color: white;
}
#menu {
    float: left;
    height: 60px;
    width: 1900px;
    background-color: rgba(185, 202, 139, 0.53);
}
#content {
    float: left;
    height: 660px;
    width: 1900px;
    background-color: tomato;
}
#evenement {
    float: left;
    height: 60px;
    width: 1900px;
    background-color: rgba(185, 202, 139, 0.53);
}
/* Page occasion: Thomas*/
.occasionConteneur {
    width: 1900px;
    height: 200px;
    margin-top: 15px;
    background-color: teal;
}
.occasionTextConteneur {
    float: left;
    width: 20%;
    height: 200px;
    background-color: wheat;
}
#weddingImages {
    float: left;
    width: 80%;
    height: 200px;
    background-color: blue;
}
.occasionText {
    margin: 0 auto;
    width: 230px;
}
.occasionText h2 {
    font-size: 48px;
    text-align: center;
    padding-bottom: 0px;
}
.occasionText p {
    font-size: 18px;
    text-align: center;
}
.occasionImages {
    text-align: center;
}
.occasionProducts {
    float: left;
    margin-left: 95px;
    height: 160px;
    width: 160px;
}
.occasionProducts figcaption {
    text-align: center;
}

/* fin page occasion */
body {
    font-family: 'Parisienne', cursive;}
h1{
    text-align: center;
    color: black;
    font-size: xx-large;
}
h2 {
    color: black;
    float: left;
    padding: 5%;
}
img{
    padding-left: 3%;
    padding-top: 7%;
    float: left;
}
iframe {
    padding-left: 13%;
    float: left;
}
h1 {
    margin-top: 15px;
    width: 1383px;
    font-family: "Parisienne";
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    text-align: center;
    color: #245F15;
}    
#titre {
    float: left;
    height: 155px;
    width: 100%;
    background-color: white;
    }
    #menu { 
        margin-top: -55px;
        float: left;
        height: 60px;
        width: 100%;
        background-color: rgba(185, 202, 139, 0.53);    
    }
    li {
        display: inline-block; 
        list-style:none;
        font-size: 24px;
        width: 20.5%;
    }
    nav li {
        text-align : center ;
        line-height: 40px ;
    }
    nav li a 
    {
        display: block ;
        text-decoration: none ;
        color : #000000;
    }
    nav li:hover
    {
        background-color: #ff7506;
        border-radius: 10px;
    }
    h2 {
        display: none;
    }
    #imglogo {
        position: absolute;
        width: 162px;
        height: 155px;
        left: 0px;
        top: 0px;
    }
    #imgboutique {
        position: absolute;
        width: 605px;
        height: 266px;
        left: 29px;
        top: 371px;
    }
    p {
        position: absolute;
        width: 718px;
        height: 396px;
        left: 651px;
        top: 295px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFA5A5;
    }
    #evenement {
        float: left;
        height: 60px;
        width: 100%;
        background-color: rgba(185, 202, 139, 0.53);
    }
    #evenementPhrase {
        position: absolute;
        width: 616px;
        height: 44px;
        left: 383px;
        top: 790px;
        font-family: "La Belle Aurore";
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        text-align: center;
        color: #204919;
    }