h1 {
    margin-top: 15px;
    width: 100%;
    font-family: "Parisienne";
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    text-align: center;
    color: #245F15;
}
#content {
    background-image: url("../img/AdobeStock_207581237.jpeg");
    height: 800px;
    width: 100%;
    background-color: #041801;
    background-repeat: no-repeat;
    float: left;
}
#titre {
    float: left;
    height: 155px;
    width: 100%;
    background-color: white;
}
#menu { 
    float: left;
    height: 60px;
    width: 100%;
    background-color: rgba(185, 202, 139, 0.53);    
}
li {
    display: inline-block; 
    list-style:none;
    font-size: 24px;
    width: 20.5%;
}
#menu li {
    text-align : center ;
    line-height: 40px ;
}
#menu li a 
{
    display: block ;
    text-decoration: none ;
    color : #000000;
}
#menu li:hover
{
    background-color: #ff7506;
    border-radius: 10px;
}
#titre2 {
    display: none;
}
#imglogo {
    float: left;
    margin-left: 30px;
}
#presentationConteneur {
    float: left;
    margin-top: 200px;
    height: 390px;
    width: 100%;
}
#imgboutique {
    float: left;
    width: 50%;
    margin-left: 30px;
}
.paragraph {
    float: left;
    margin-top: 20px;
    margin-left: 5%;
    width: 40%;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    color: #FFA5A5;
}
#evenement {
    float: left;
    height: 60px;
    width: 100%;
    background-color: rgba(185, 202, 139, 0.53);
}
#evenementPhrase {
    width: 100%;
    height: 44px;
    margin: 0 auto;
    margin-top: 8px;
    font-family: "La Belle Aurore";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #204919;
}
/* début css présentation sébastien*/
.bouquets img{
    width: 200px;
    height: 200px;
}
.presentationbouquet,.bouquet1,.bouquet2,.bouquet3{
    float: left;
    margin-left: 5%;
}
.presentationbouquet h2{
    text-align: center;
    font-size: 2em;
}
.presentationbouquet p{
    font-size: 1.3em;
    color: white;
    width: 400px;
    text-align: center;
}
.bouquets figcaption{
    width: 200px;
    text-align: center;
    color: white;
}
.composition img{
    width: 200px;
    height: 200px;
}
.presentationcomposition,.composition1,.composition2,.composition3{
    float: left;
    margin-left: 5%;
}
.presentationcomposition h2{
    text-align: center;
    font-size: 2em;
}
.presentationcomposition p{
    font-size: 1.3em;
    color: white;
    width: 400px;
    text-align: center;
}
.composition figcaption{
    width: 200px;
    text-align: center;
    color: white;
}
.plants img{
    width: 200px;
    height: 200px;
}
.presentationplants,.plants1,.plants2,.plants3{
    float: left;
    margin-left: 5%;
}
.presentationplants h2{
    text-align: center;
    font-size: 2em;
}
.presentationplants p{
    font-size: 1.3em;
    color: white;
    width: 400px;
    text-align: center;
}
.plants figcaption{
    width: 200px;
    text-align: center;
    color: white;
}
/* Page occasion: Thomas*/
.occasionConteneur {
    float: left;
    width: 100%;
    height: 200px;
    margin-top: 50px;
}
.occasionImages {
    float: left;
    width: 80%;
    height: 200px;
}
.occasionTextConteneur {
    float: left;
    width: 20%;
    height: 200px;
}
.occasionText {
    margin: 0 auto;
    width: 230px;
}
.occasionText h2 {
    font-size: 48px;
    text-align: center;
    padding-bottom: 0px;
    color: white;
}
.occasionText p {
    font-size: 18px;
    text-align: center;
    color: white;
}
.occasionProducts {
    float: left;
    margin-left: 5%;
    height: 160px;
    width: 160px;
}
.occasionProducts figcaption {
    text-align: center;
    color: white;
}
/* fin page occasion */
/* debut page contact */
#contacttitle{
    text-align: center;
    color: white;
    font-size: xx-large;
}
.contacttext {
    color:white;
    float: left;
    font-size: 30px;
    text-align: center;
}
.contactimg{
    float: left;
    width: 160px;
    height: 160px;
}
iframe {
    padding-left: 13%;
    float: left;
    width: 350px;
    height: 350px;
    margin-top: 75px;
}
.addres {
    margin: 0 auto;
}
table, td {
border: solid 1px white;
color: white;
margin-left: 800px;
margin-top: 310px;
text-align: center;
}
table {
    height: 350px;
    width: 350px;
}
.contactfigur {
    height: 200px;
    width: 200px;
    float: left;
    margin-left: 12%;
}