h1 {
    margin-top: 15px;
    width: 1383px;
    font-family: "Parisienne";
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    text-align: center;
    color: #245F15;
}
#content {
    background-image: url("../img/AdobeStock_207581237.jpeg");
    height: 800px;
    width: 100%;
    background-color: #041801;
    background-repeat: no-repeat;
}
#titre {
    float: left;
    height: 155px;
    width: 100%;
    background-color: white;
}
#menu { 
    margin-top: -55px;
    float: left;
    height: 60px;
    width: 100%;
    background-color: rgba(185, 202, 139, 0.53);    
}
li {
    display: inline-block; 
    list-style:none;
    font-size: 24px;
    width: 20.5%;
}
nav li {
    text-align : center ;
    line-height: 40px ;
}
nav li a 
{
    display: block ;
    text-decoration: none ;
    color : #000000;
}
nav li:hover
{
    background-color: #ff7506;
    border-radius: 10px;
}
#titre2 {
    display: none;
}
#imglogo {
    position: absolute;
    width: 162px;
    height: 155px;
    left: 0px;
    top: 0px;
}
#imgboutique {
    position: absolute;
    width: 605px;
    height: 266px;
    left: 29px;
    top: 371px;
}
#paragraph {
    position: absolute;
    width: 718px;
    height: 396px;
    left: 651px;
    top: 295px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFA5A5;
}
#evenement {
    float: left;
    height: 60px;
    width: 100%;
    background-color: rgba(185, 202, 139, 0.53);
}
#evenementPhrase {
    position: absolute;
    width: 616px;
    height: 44px;
    left: 383px;
    top: 790px;
    font-family: "La Belle Aurore";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #204919;
}